[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Risk Of Rain 2
GenericName=Risk of Rain 2
Comment=Risk of Rain 2
Icon=/home/ari/HDD/Games/scripts/RiskOfRain2.jpg
Exec=/home/ari/HDD/Games/scripts/RiskOfRain2.sh
Categories=Game;
Path=/home/ari/HDD/Games/Risk of Rain 2/

